*.vcd
*.fst
sim_build/
sim_build_*/
__pycache__/
.venv/
results.xml
results_*.xml

# Tiny Tapeout flow artifacts
.idea
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/gate_level_netlist.v
